Require ip 185.109.220.5

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Route API requests
    RewriteRule ^api/(.*)$ api/index.php [QSA,L]

    # Route all non-file, non-directory requests to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
